/* defaults */
html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

blockquote,
h1,
h2,
h3,
p {
  margin: 0;
}

input {
  font-family: inherit;
}

button {
  background-color: transparent;
  border: none;
}

textarea {
  font-family: inherit;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

fieldset {
  padding: 0;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2em;
  line-height: 1.2;
  text-align: center;
  vertical-align: middle;
  color: var(--basic-black);
  border: none;
  background-color: transparent;
}

.button:active {
  opacity: 0.3;
}

/* container */
.wrapper {
  width: 1160px;
  margin: 0 auto;
  padding: 0 0 0 0;
}
